_Chutzpah*
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.publishsettings
node_modules/
_ReSharper.*
[Bb]in/
[Oo]bj/
csx/
*.user
*.suo
*.swp
*.orig
*.[Cc]onfig.transformed
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchsolution
*.ncrunchproject
nCrunchTemp*
*.cache
*.build.csdef
*dont-edit/
[Aa]pp_Data/
csx/
Package/
pkg/
pkgobj/
packages/
[Ll]ogs/