<div id="s4-titlerow" class="ms-dialogHidden" style="display:block;">
    <div id="titleAreaBox" class="ms-noList ms-table ms-core-tableNoSpace">
        <div id="titleAreaRow" class="ms-tableRow">
            <div id="siteIcon" class="ms-tableCell ms-verticalAlignTop" style="width:180px;">
                <img src="../Images/headerIcon.png" />
            </div>
            <div class="ms-breadcrumb-box ms-tableCell ms-verticalAlignTop">
                <div class="ms-breadcrumb-top">
                    <div class="ms-breadcrumb-dropdownBox" style="display:none;">
                        <span id="DeltaBreadcrumbDropdown"></span>
                    </div>

                </div>
                <h1 id="pageTitle" class="ms-core-pageTitle">
                    <span>{{pageTitle}}</span>
                </h1>
            </div>
        </div>
    </div>
</div>