<div id="sideNavBox" class="ms-dialogHidden ms-forceWrap ms-noList">
    <div class="ms-core-navigation" role="navigation">
        <a id="startNavigation" name="startNavigation"></a>
        <div class="ms-core-sideNavBox-removeLeftMargin">
            <div class="noindex ms-core-listMenu-verticalBox">
                <ul class="noindex ms-core-listMenu-root static">
                    <li class="static selected">
                        <a href="#repos" class="selected static menu-item ms-core-listMenu-item ms-displayInline ms-core-listMenu-selected ms-navedit-linkNode">Repositories</a>
                    </li>
                    <li class="static">
                        <a href="#repo" class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable">Repo</a>
                    </li>
                    <li class="static">
                        <a href="#user" class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable">User Details</a>
                    </li>
                    <li class="static">
                        <a href="#reports" class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>