<div id="sideNavBox" class="ms-dialogHidden ms-forceWrap ms-noList">
    <div class="ms-core-navigation" role="navigation">
        <a id="startNavigation" name="startNavigation"></a>
        <div class="ms-core-sideNavBox-removeLeftMargin">
            <div class="noindex ms-core-listMenu-verticalBox">
                <ul class="noindex ms-core-listMenu-root static">
                    <li class="static selected">
                        <a href="javascript:;"
                           class="selected ms-core-listMenu-selected static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode">
                            Some Link
                        </a>
                        <a href="javascript:;"
                           class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode">
                            Another Link
                        </a>
                        <a href="javascript:;"
                           class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode">
                            Third Link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>