<div id="sideNavBox" class="ms-dialogHidden ms-forceWrap ms-noList">
    <div class="ms-core-navigation" role="navigation">
        <a id="startNavigation" name="startNavigation"></a>
        <div class="ms-core-sideNavBox-removeLeftMargin">
            <div class="noindex ms-core-listMenu-verticalBox">
                <ul class="noindex ms-core-listMenu-root static">
                    
                    <li class="static" data-ng-repeat="item in items" data-ng-class="{selected: item.selected}">
                        <a href="#{{item.url}}"
                           data-ng-bind-html="item.title"
                           class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode"
                           data-ng-class="{selected:item.selected, 'ms-core-listMenu-selected':item.selected}"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>