<div data-ng-if="contributions" class="contributions-container">
    
    <table border="0" cellspacing="0" cellpadding="1" class="ms-listviewtable">
        <thead>
            <tr valign="top" class="ms-viewheadertr ms-vhltr">
                <th scope="col" class="ms-vh2" style="width: 150px;">
                    <div class="ms-vh-div">
                        <a class="ms-headerSortTitleLink">Name</a>
                    </div>
                </th>
                <th scope="col" class="ms-vh2" style="width: 200px;">
                    <div class="ms-vh-div">
                        <a class="ms-headerSortTitleLink">Description</a>
                    </div>
                </th>
                <th scope="col" class="ms-vh2">
                    <div class="ms-vh-div">
                        <a class="ms-headerSortTitleLink">URL</a>
                    </div>
                </th>
                <th scope="col" class="ms-vh2">
                    <div class="ms-vh-div">
                        <a class="ms-headerSortTitleLink">By</a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="con in contributions" class="ms-itmHoverEnabled ms-itmhover">
                <td class="ms-cellstyle ms-vb-title ms-positionRelative" height="100%">
                    <div class="ms-vb ms-vb-menuPadding itx">
                        <a class="ms-listlink" data-ng-href="con.Url" target="_blank">{{con.RepositoryName}}</a>
                    </div>
                </td>
                <td class="ms-vb-lastCell ms-cellstyle ms-vb2 ms-vb-lastCell">
                    <div class="ms-rtestate-field">{{con.RepositoryDescription}}</div>
                </td>
                <td class="ms-vb-lastCell ms-cellstyle ms-vb2 ms-vb-lastCell">
                    <div class="ms-rtestate-field">{{con.Url}}</div>
                </td>
                <td class="ms-vb-lastCell ms-cellstyle ms-vb2 ms-vb-lastCell">
                    <div class="ms-rtestate-field">{{con.AccountName}}</div>
                </td>
            </tr>
        </tbody>
    </table>

</div>